.playerButton {
  background: white;
  border-radius: 10px;
  border: 4px solid black;
  font-weight: bold;
  margin: 5px;
}

.selected {
  background: red;
  color: white;
}

.playerButton:active {
  background: red;
  color: white;
}
.playerButton:focus {
  background: red;
  color: white;
  outline: 0;
}
.playerButton:target {
  background: red;
  color: white;
}

.indicator-circle {
  width: 100px;
  height: 100px;
  margin: auto;
  background: black;
  border-radius: 100%;
}

.wiimoteImage {
  width: calc(100% - 264px);
  max-width: 600px;
  padding-left: 10px;
}
